/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Open Sans", "Noto Sans", "Ubuntu", "Roboto", sans-serif !default;

// colors
$body-bg: #1a1b26 !default;
$body-color: #c0caf5 !default;
$text-muted: #a9b1d6 !default;
$link-color: #9ece6a !default;
$selection-bg: #d33682 !default;
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;

// headings
$presentation-heading-font: "Open Sans", sans-serif !default;
$presentation-heading-color: #eee8d5 !default;
$presentation-heading-text-transform: uppercase !default;

/*-- scss:rules --*/

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}